/* import arabic font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
/*  import english font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --Arabic-font: "IBM Plex Sans Arabic", sans-serif;
    ;
    --English-font: "Roboto Mono", monospace;
    --bg-color: #F8f8f8;
    --primary-color: #170D21;
    --secondry-color : #5F3B83;
    --icon-color: #b092df;
    --gray-color:#7b7b7b;
    --dark-gray: #4f4f4f;

}

